#field {
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

#field label{
    font-size: 19px;
    font-family: 'Gilroy-semibold';
    margin-bottom: 2px;
}

#field input{
    min-width: 500px;
    max-width: 500px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 10px;
    font-family: 'Gilroy-light';
}


@media screen and (max-width: 1198px) {
    #field input{
        min-width: inherit;
    }
}