@font-face {
    font-family: 'Gilroy-black';
    src: url('./Fonts/Gilroy-Black.ttf');
}

@font-face {
    font-family: 'Gilroy-semibold';
    src: url('./Fonts/Gilroy-SemiBold.ttf');
}


@font-face {
    font-family: 'Gilroy-bold';
    src: url('./Fonts/Gilroy-Bold.ttf');
}


@font-face {
    font-family: 'Gilroy-medium';
    src: url('./Fonts/Gilroy-Medium.ttf');
}


@font-face {
    font-family: 'Gilroy-light';
    src: url('./Fonts/Gilroy-light.ttf');
}
